// spacing scale for margins & padding
$base-space: 1rem;
$spacing-xxs: calc(#{$base-space} / 8); // 2px spacing
$spacing-xs: calc(#{$base-space} / 4);// 4px spacing
$spacing-s: calc(#{$base-space} / 2);// 8px spacing
$spacing-m: $base-space; // 16px spacing
$spacing-l: calc(#{$base-space} * 2); // 32px spacing
$spacing-xl: calc(#{$base-space} * 4); // 64px spacing
$spacing-xxl: calc(#{$base-space} * 8); // 128px spacing

//colour variables
$white: white;
$black: black;
$lightgrey: lightgrey;
$grey: grey;

html {
    box-sizing: border-box;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-navbar {
    display: flex;
    margin-bottom: $spacing-l;
    margin-top: $spacing-m;
}

.main-navbar__logo {
    margin-right: auto;
}

.main-navbar__links {
    margin-left: $spacing-m;
    text-decoration: none;
}

.main-navbar__links-contact {
    margin-right: $spacing-m;
}

.banner {
    display: flex;
}

.banner__image {
    height: 40vh;
    margin-bottom: $spacing-l;
    object-fit: cover;
    width: 100vw;
}

.banner__text {
    background-color: $white;
    border: $spacing-s solid $lightgrey;
    height: 20vh;
    left: 10%;
    position: absolute;
    top: 25%;
    width: 80vw;
}

.banner__text-all {
    font-size: 1.2rem;
    text-align: center;
}

.banner__text-header {
    font-weight: 700;
    margin-bottom: $spacing-m;
    padding-top: $spacing-m;
}

.portfolio__navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: $spacing-l;
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
}

.portfolio__navbar-links {
    color: $grey;
    text-decoration: none;
}

.portfolio__navbar-links:hover {
    background-color: $black;
    color: $white;
    height: $spacing-l;
    padding-top: $spacing-s;
    text-align: center;
    width: $spacing-xl;
}

.portfolio__images {
    column-gap: $spacing-l;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $spacing-xl;
    row-gap: $spacing-m;
}

.portfolio__images-gallery {
    height: 35vh;
    object-fit: cover;
    width: 35vw;
}

.footer {
    background-color: black;
    display: flex;
    height: 20vh;
    justify-content: center;
}

.footer__text {
    color: $white;
    margin-top: $spacing-xl;
}

// Credits - Photo by Norbert Levajsics on Unsplash, Photo by Stéphan Valentin on Unsplash, Photo by Stéphan Valentin on Unsplash
