html {
    box-sizing: border-box;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-navbar {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 1rem;
}

.main-navbar--logo {
    margin-right: auto;
}

.main-navbar--links {
    margin-left: 2rem;
    text-decoration: none;
}

.contact-link {
    margin-right: 3rem;
}

.banner-image {
    height: 60vh;
    margin-bottom: 3rem;
    object-fit: cover;
    width: 100vw;
}
.banner-text{
    position: absolute;
    bottom: 25rem;
    left: 20rem;
    background-color: white;
    width: 25rem;
    height: 10rem;
    border: 0.5rem solid lightgray;
}
.text{
    text-align: center;
}
.banner-text-main, {
    font-size: 1.5rem;
    padding-top:3rem;
    font-weight: bold;
    
}
.work-navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.work-navbar--links {
    text-decoration: none;
    color: grey;
}
.work-navbar--links:hover{
    background-color: black;
    width: 5rem;
    height: 2rem;
    text-align: center;
    color:white;
    padding-top: 0.5rem;
}
.work-photos {
    column-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
    row-gap: 2rem;
}
.photo-collection {
    height: 35vh ;
    width: 35vw ;
    object-fit: cover;
}

.footer {
    background-color: black;
    display: flex;
    height: 20vh;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer-text {
    color: white;
    margin-top: 3rem;
}

// Credits - Photo by Norbert Levajsics on Unsplash, Photo by Stéphan Valentin on Unsplash, Photo by Stéphan Valentin on Unsplash
