html {
    box-sizing: border-box;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-navbar {
    background-color: aquamarine;
    display: flex;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.main-navbar--logo {
    margin-right: auto;
}

.main-navbar--links {
    margin-left: 1rem;
    text-decoration: none;
}

.contact-link {
    margin-right: 1rem;
}

.banner-container {
    display: flex;
}

.banner-image {
    height: 40vh;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 100vw;
}

.banner-text {
    background-color: white;
    border: 0.5rem solid lightgray;
    height: 20vh;
    left: 10%;
    position: absolute;
    top: 25%;
    width: 80vw;
}

.banner-text-all {
    font-size: 1.2rem;
    text-align: center;
}

.banner-text-header {
    font-weight: bold;
    padding-top: 1rem;
}


.portfolio-navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.portfolio-navbar--links {
    color: grey;
    text-decoration: none;
}

.portfolio-navbar--links:hover {
    background-color: black;
    color: white;
    height: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 5rem;
}

.portfolio-photos {
    column-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
    row-gap: 2rem;
}

.photo-collection {
    height: 35vh ;
    object-fit: cover;
    width: 35vw ;
}

.footer {
    background-color: black;
    display: flex;
    height: 20vh;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer-text {
    color: white;
    margin-top: 3rem;
}

// Credits - Photo by Norbert Levajsics on Unsplash, Photo by Stéphan Valentin on Unsplash, Photo by Stéphan Valentin on Unsplash
